* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.relative_div1 {
    width: 400px;
    height: 400px;
    background-color: red;
    /* position: relative;
    top: 40px; */
    position: absolute;
}

.relative_div2 {
    width: 400px;
    height: 400px;
    background-color: green;
    position: relative;
    top: 40px;
    z-index: 1;
}

.parent {
    width:800px;
    height: 600px;
    position: relative;
    background-color: blue;
}